*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


section{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.display-7 {
    font-family:"Montserrat";
    font-size: 2.5rem; 
    color: #333; 
    margin-bottom:50px; 
  }
  
  .display-7 span {
    color: #910335;
    font-weight: bold;
  }
  
  .my-lg-2 {
    margin-bottom:40px; 
    font-size: 1.3rem;
    line-height: 1.6; 
    color: #110101; 
    font-family: "Ubuntu";
  }
  
  @media (max-width: 992px) {
    .my-lg-2 {
      font-size: 1rem; 
    }
  }
  
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

svg{
  position: absolute;
  top: 0;
  left: 0;
}


.section-head {
    margin-bottom: 60px;
  }
  .section-head h4 {
    position: relative;
    padding:0;
    color:#f91942;
    line-height: 1;
    letter-spacing:0.3px;
    font-size: 34px;
    font-weight: 700;  
    text-align:center;
    text-transform:none;
    margin-bottom:30px;
  }
  .section-head h4:before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right:0;  
    margin:0 auto;
  }
  .section-head h4 span {
    font-weight: 700;
    padding-bottom: 5px;
    color:#2f2f2f
  }
  p.service_text{
    color:#cccccc !important;
    font-size:16px;
    line-height:28px;
    text-align:center;    
  }
  .section-head p, p.awesome_line{
    color:#818181;
    font-size:16px;
    line-height:28px;
    text-align:center;  
  }
  







.right button{

  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;}

  .right button:hover{
      transform: translateY(2px);
  }




